.CityButton-button-os {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #6019eb;
  text-decoration: none;
  border: 2px solid #6019eb;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  display: flex;
  background: transparent;
  transition: 0.3s;
  width: max-content;
}
.CityButton-button-os:hover {
  color: #6019eb;
  opacity: 0.8;
}

@media screen and (max-width: 1028px) {
  .CityButton-button-os {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .CityButton-button-os {
    font-size: 16px;
    line-height: 20px;
  }
}
