.CartProductList-heading-os {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 34.9332px;
    line-height: 41px;
    color: #6019eb;
    padding-bottom: 2rem;
}

.CartProductList-section-os .WishListNumber-addToCart-delete-btn-os button span svg {
    width: 18px;
    height: 18px;
}

.CartProductList-section-os .WishListNumber-addToCart-delete-btn-os button span {
    display: flex;
}

.CartProductList-section-os .WishListNumber-addToCart-delete-btn-os button {
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
}

.CartProductList-section-os .WishListNumber-addToCart-delete-btn-os button:first-child span svg path {
    fill: #fff;
}

@media screen and (max-width: 428px) {
    .CartProductList-section-os .WishListNumber-addToCart-delete-btn-os button {
        font-size: 12px;
        line-height: 16px;
        padding: 8px 4px;
    }
}