/* -------ABOUT US PAGE CSS HERE--------- */

.main-about-us-ud {
  margin: 20px 0px;
}

.about-page-text-bg-ud {
  padding: 100px;
  background-color: #6019eb;
  border-radius: 25px;
  background-image: url("../Assets/aboutbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-page-text-bg-ud h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  color: #ffffff;
  padding-bottom: 2rem;
}

.about-us-btn-ud button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17.8882px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  padding: 12px 2rem;
  width: max-content;
  border: 1px solid #fff;
  border-radius: 30px;
  background: #6019eb;
}

.about-us-btn-ud button:hover {
  opacity: 0.8;
}

.about-us-btn-ud a {
  text-decoration: none;
}

.looking-number-main-ud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 4%;
}

.looking-img-part-ud {
  width: 40%;
  margin: 0 auto;
}

.looking-text-part-ud {
  width: 56%;
  margin: 0 auto;
  padding-right: 5rem;
}

.looking-img-part-ud img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.looking-text-part-ud h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-transform: capitalize;
  color: #333333;
}

.looking-text-part-ud p {
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  color: #000;
  padding: 20px 0px;
}

.looking-text-part-ud p span {
  color: #6019eb;
}

.about-text-proving-part p {
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  color: #000;
  padding: 12px 200px 12px 0px;
}

.about-text-proving-part h1:after {
  width: 225px;
  height: 4px;
  background: #7b3df7;
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  border-radius: 50px;
}

.about-text-proving-part h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-transform: capitalize;
  color: #333333;
  padding: 10px 0px;
  position: relative;
}

.looking-text-part-ud2 {
  padding-left: 0px;
}

.main-proving-text-part-about-ud {
  background: rgba(233, 222, 255, 0.19);
}

.main-proving-text-part-about-ud .about-text-proving-part p span {
  background-color: #6019eb;
  color: #fff;
}

.our-values-title {
  padding-bottom: 20px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.our-values-title h1 {
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  padding-bottom: 2rem;
}

.our-values-title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.main-value-about-img-text-ud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.our-values-img-part {
  width: 40%;
}

.our-values-text-part {
  width: 60%;
}

.our-values-img-part img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.text-1-value {
  padding: 12px 100px;
}

.text-1-value h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #6019eb;
  position: relative;
}

.btn-preVip {
  color: #6019eb;
  border: 3px solid #6019eb;
  padding: 8px 30px;
  font-size: 22px;
  border-radius: 13px;
  background: #fff;
}
.preHeadingVip {
  color: rgb(96, 25, 235);
  font-size: 36px;
}
.vipPeraQr {
  font-size: 14px !important;
}

.qr-scanCode {
  width: 40.3%;
  border: 4px solid #6019eb;
  border-radius: 11px;
}

.text-1-value h2::after {
  width: 125px;
  height: 3px;
  background: #7b3df7;
  position: absolute;
  content: "";
  bottom: -1px;
  left: -2px;
  border-radius: 50px;
}

.text-1-value p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #000;
  padding: 5px 0px;
}

.about-counter-main-ud {
  padding: 100px 50px;
  background: url("../Assets/about-counter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  flex-wrap: wrap;
  border-radius: 60px !important;
}

.about-count-1 {
  padding: 20px;
}

.about-count-1 h1 {
  font-weight: 700;
  font-size: 59px;
  color: #ffffff;
}

.about-count-1 p {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

/* Style by Om starts */
.AboutBanner-section-os {
  padding-bottom: 5rem;
}

.AboutImageWithText-section-os {
  padding-bottom: 5rem;
}

.YearsOfExperience-section-os {
  padding-bottom: 5rem;
}

.OurValues-section-os {
  background: #fbf9ff;
  padding: 4rem 0;
  margin-bottom: 4rem;
}

.AboutReviews-section-os {
  padding-bottom: 5rem;
}

.AboutVideo-row-os {
  width: 65%;
  margin: 2rem auto 0;
}

.AboutVideo-row-os iframe {
  width: 100%;
  min-height: 500px;
  height: auto;
}

/* Style by Om ends */

@media only screen and (max-width: 1600px) {
  .looking-text-part-ud p {
    line-height: 32px;
    padding: 14px 0px;
  }

  .text-1-value {
    padding: 12px 70px;
  }

  .about-counter-main-ud {
    margin: 60px 12px 0px 12px;
  }
}

@media only screen and (max-width: 1030px) {
  .about-counter-main-ud {
    margin: 60px 12px 0px 12px;
  }

  .about-text-proving-part p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    padding: 12px 12px 12px 0px;
  }

  .text-1-value {
    padding: 1px 40px;
  }

  .text-1-value p {
    line-height: 25px;
    padding: 5px 0px;
  }

  .our-values-text-part {
    width: 50%;
  }

  .our-values-img-part {
    width: 50%;
  }

  .our-values-text-part {
    width: 50%;
    margin-top: 23px;
  }

  .container {
    width: 100%;
  }

  .looking-text-part-ud {
    width: 56%;
    margin: 0 auto;
    padding-right: 0;
  }

  .AboutVideo-row-os {
    width: 100%;
  }

  .AboutVideo-row-os iframe {
    min-height: 400px;
  }
}

@media screen and (max-width: 991px) {
  .looking-text-part-ud h1 {
    font-size: 28px;
    line-height: 35px;
  }

  .looking-text-part-ud p {
    line-height: 28px;
    padding: 14px 0px;
  }
}

@media only screen and (max-width: 767px) {
  .our-values-title {
    width: 80%;
  }

  .about-text-proving-part h1 {
    font-size: 33px;
    line-height: 40px;
  }

  .about-text-proving-part p {
    font-size: 18px;
    line-height: 28px;
  }

  .looking-text-part-ud h1 {
    line-height: 28px;
    font-size: 24px;
  }

  .looking-text-part-ud p {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0px;
  }

  .text-1-value {
    padding: 1px 10px;
  }

  .our-values-text-part {
    width: 100%;
  }

  .our-values-img-part {
    width: 80%;
    margin: 0 auto;
  }

  .main-value-about-img-text-ud {
    display: block;
    width: 100%;
  }

  .about-page-text-bg-ud h1 {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }

  .about-us-btn-ud button {
    margin: 0 auto;
  }

  .our-values-title h1 {
    font-size: 33px;
  }

  .about-count-1 h1 {
    font-size: 50px;
  }

  .about-text-proving-part h1:after {
    width: 175px;
    height: 4px;
  }

  .about-counter-main-ud {
    margin: 0;
  }

  .looking-text-part-ud {
    width: 100%;
  }

  .looking-img-part-ud {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .looking-img-part-ud img {
    max-width: 300px;
  }

  .OurValues-section-os {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .looking-img-part-ud {
    width: 100%;
    margin: 0 auto;
  }

  .looking-text-part-ud {
    width: 100%;
  }

  .AboutImageWithText-section-os {
    padding-bottom: 4rem;
  }

  .AboutVideo-row-os iframe {
    min-height: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .our-values-title {
    width: 95%;
    padding: 10px 0px;
  }

  .looking-text-part-ud h1 {
    line-height: 28px;
    font-size: 24px;
  }

  .looking-text-part-ud p {
    line-height: 20px;
    font-size: 14px;
  }

  .about-text-proving-part h1 {
    line-height: 30px;
    font-size: 25px;
  }

  .about-text-proving-part p {
    line-height: 20px;
    font-size: 13px;
  }

  .our-values-title h1 {
    font-size: 28px;
  }

  .our-values-title p {
    line-height: 20px;
    font-size: 13px;
  }

  .text-1-value h2 {
    font-size: 25px;
    line-height: 20px;
    padding: 13px 0px;
  }

  .text-1-value p {
    line-height: 20px;
    font-size: 13px;
  }

  .about-text-proving-part h1:after {
    width: 135px;
    height: 4px;
  }

  .about-page-text-bg-ud {
    padding: 4rem 28px;
  }

  .about-count-1 h1 {
    font-size: 40px;
  }

  .about-count-1 p {
    font-size: 14px;
  }

  .about-counter-main-ud {
    padding: 60px 50px;
  }

  .about-count-1 {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .AboutBanner-section-os {
    padding-bottom: 4rem;
  }

  .YearsOfExperience-section-os {
    padding-bottom: 4rem;
  }

  .AboutReviews-section-os {
    padding-bottom: 4rem;
  }
}
