.CityHeading-heading-os {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 38px;
    color: #6019EB;
    margin: 0;
}

@media screen and (max-width:1024px) {
    .CityHeading-heading-os {
        font-size: 28px;
        line-height: 35px;
    }    
}
@media screen and (max-width:767px) {
    .CityHeading-heading-os {
        font-size: 22px;
        line-height: 28px;
    }    
}