.FamilyMemberOffers-heading-data-os {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.FamilyMemberOffers-data-row-os > div {
  width: 30%;
}
.FamilyMemberOffers-data-row-os {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem 5%;
}
.FamilyMemberOffers-section-os {
  padding-bottom: 5rem;
}
.FamilyPack-select-variants-col-os-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17.9573px;
  line-height: 19px;
  text-align: center;
  color: #6019eb;
  border: 1px solid #6019eb;
  border-radius: 4px;
  padding: 8px 12px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.FamilyPack-variant-selector-os-1 select {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17.9573px;
  line-height: 19px;
  /* text-align: center; */
  color: #6019eb;
  background: #f4f4f9;
  border-radius: 3.14px;
  border: none;
  cursor: pointer;
  appearance: none;
  padding: 8px 28px 8px 8px;
  background-image: url("../../../Assets/selectArrow.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 92% 50%;
  position: relative;
}
@media screen and (max-width: 1028px) {
  .FamilyMemberOffers-data-row-os > div {
    width: 47.5%;
  }
}
@media screen and (max-width: 576px) {
  .FamilyMemberOffers-data-row-os > div {
    width: 80%;
    margin: 0 auto;
  }
  .FamilyMemberOffers-heading-data-os > div {
    width: 100%;
  }
  .FamilyMemberOffers-heading-data-os .multiple-filters-col-os {
    width: 100%;
  }
  .FamilyMemberOffers-section-os {
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .FamilyMemberOffers-data-row-os > div {
    width: 100%;
  }
}