.mainHeading-os h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 37px;
  text-align: center;
  color: #3d3d3d;
  margin: 0;
}

.mainHeading-os {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.mainHeading-os span {
  display: flex;
}

@media screen and (max-width: 1028px) {
  .mainHeading-os h2 {
    font-size: 28px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .mainHeading-os h2 {
    font-size: 22px;
    line-height: 28px;
  }
}