@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container-os {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.pera-register {
  width: 60%;
  font-size: 21px;
  margin-bottom: 50px;
  text-align: center;
}

.vipSectionQR {
  background-color: #f7f2ff;
}

input:focus-visible {
  outline: none;
}

.btn-register {
  color: #6019eb;
  padding: 9px 80px;
  border-radius: 8px;
  border: 2px solid #6019eb;
  background: #f7f2ff;
}

.vipPrepaidHead {
  color: rgb(96, 25, 235);
  text-align: center;
  margin-bottom: 3rem;
}

.register-now {
  background: #f7f2ff;
  max-width: 100%;
  padding: 2rem 1rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  border-bottom: 7px solid #691ede;
}

*:focus-visible {
  outline: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.validation-error {
  border-color: red !important;
}

button {
  cursor: pointer;
}

.slick-disabled {
  opacity: 0.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-os .slick-slider li.slick-active {
  width: 70px;
}

.App-os .slick-slider .slick-dots li.slick-active button:before {
  content: "";
  opacity: 1;
  color: black;
  background: #c9dbf2;
  border-radius: 10px;
  width: 100%;
  height: 8px;
  top: 5px;
}

.App-os .slick-slider .slick-dots li button:before {
  opacity: 1;
  color: #c9dbf2;
}

.App-os .slick-slider .slick-dots li {
  margin: 2px;
}

.App-os .slick-slider .slick-dots li button:before {
  font-size: 10px;
}

.default-loadMore-button-os {
  padding-top: 4rem;
}

.error-message {
  color: red;
  padding-top: 6px;
  padding-bottom: 6px;
}

.add-money-btn {
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
}

.no-results-found {
  text-align: center;
  width: 100%;
}

/* .family-card-os {
  padding-top: 3rem !important;
} */

input::placeholder {
  color: #cdcdcd;
}

input {
  color: #000;
}

.default-page-filterTabs-os {
  display: flex;
  justify-content: end;
  padding-bottom: 2rem;
  position: relative;
}

.defaultResult-section-os {
  padding-bottom: 5rem;
}

.vns__popup-window {
  z-index: 3;
}

button:focus {
  outline: none;
}

p,
label {
  margin: 0;
}

a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}

.notification-container {
  top: 70px !important;
}

.redesign #modal.full-height {
  height: 750px !important;
  width: 475px !important;
}

.loader-os img {
  max-width: 80px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader-os {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.data-not-found-os {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1d;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

.default-viewMore-btn-os {
  padding-top: 3rem;
}

.loadmore-show-data-btn-os {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(96, 25, 235);
  border: 2px solid rgb(241, 108, 25);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: max-content;
  margin: 3rem auto 0;
  text-decoration: none;
  padding: 1rem 3rem;
  transition: 0.3s;
  cursor: pointer;
}

[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.default-section-os {
  padding-bottom: 5rem;
}
.default-heading-os {
  padding-bottom: 3rem;
}

.react-datepicker-wrapper {
  width: 105%;
}
.data-not-found-message-os {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  width: 100%;
}
.desktop-content-os {
  display: block;
}

.mobile-content-os {
  width: 100%;
  display: none;
}

.defaultPage-search-section-os {
  width: 70%;
  margin: -6rem auto 5rem;
}

@media screen and (max-width: 1600px) {
  .container-os {
    max-width: 95%;
  }
  .defaultPage-search-section-os {
    width: 85%;
  }

  .search-section-os .custom-radio .dot {
    border: 2px solid #333333;
  }

  .search-section-os input[type="radio"]:checked + .custom-radio .dot:after {
    top: 0;
    left: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .notification-container {
    top: 0 !important;
  }
}

@media screen and (max-width: 1028px) {
  .default-loadMore-button-os {
    padding-top: 3rem;
  }

  .data-not-found-os {
    font-size: 16px;
    line-height: 20px;
  }
  .defaultPage-search-section-os {
    width: 95%;
    margin: -3rem auto 5rem;
  }
}

@media screen and (max-width: 767px) {
  .mobile-content-os {
    display: block;
  }
  .desktop-content-os {
    display: none;
  }
  .container-os {
    max-width: 100%;
    padding: 0 1rem;
  }

  .App-os .slick-slider .slick-dots li button:before {
    font-size: 8px;
  }

  .App-os .slick-slider .slick-dots li.slick-active button:before {
    height: 7px;
    top: 5px;
  }

  .pera-register {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0px;
    width: auto;
  }

  .register-now {
    max-width: 100%;
    padding: 0 1rem;
  }

  .headVipPrepaid {
    line-height: 40px !important;
  }
  .btn-register {
    margin-bottom: 2rem;
  }

  .default-loadMore-button-os {
    padding-top: 2rem;
  }

  .data-not-found-os {
    font-size: 18px;
    line-height: 24px;
  }

  .default-section-os {
    padding-bottom: 3rem;
  }
  .default-heading-os {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .PurpleBgColor-os {
    padding-bottom: 2rem !important;
    margin-bottom: 3rem !important;
  }

  .default-viewMore-btn-os {
    padding-top: 1rem;
  }

  .defaultResult-section-os {
    padding-bottom: 4rem;
  }

  .defaultPage-search-section-os {
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (max-width: 1354px) and (min-width: 1199px) {
  .wallet-heading {
    padding: 5rem 0 12rem !important;
  }
}

@media only screen and (max-width: 1683px) and (min-width: 1601px) {
  .wallet-heading {
    padding: 5rem 0 12rem !important;
  }
}
