.OurCustomers-slider-row-os .slick-slide>div {
    margin: 3rem 2rem 1rem;
}

.OurCustomers-slider-row-os {
    width: 80%;
    margin: 0 auto;
}

.OurCustomers-section-os .slick-prev {
    width: 60px;
    height: 60px;
    background-image: url('../../assets/slider-left-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 1;
    left: -80px;
    top: 55%;
}

.OurCustomers-section-os .slick-next {
    width: 60px;
    height: 60px;
    background-image: url('../../assets/slider-right-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 1;
    right: -80px;
    top: 55%;
}

.OurCustomers-section-os .slick-prev:before,
.OurCustomers-section-os .slick-next:before {
    opacity: 1;
    color: transparent;
}

.OurCustomers-section-os .slick-prev:before,
.OurCustomers-section-os .slick-next:before {
    opacity: 1;
    color: transparent;
}

.OurCustomers-section-os {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    background-image: url("../../assets/OurCustomerCard-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1028px) {
    .OurCustomers-slider-row-os {
        width: 90%;
    }

    .OurCustomers-slider-row-os .slick-slide>div {
        margin: 3rem 1rem 2rem;
    }

    .OurCustomers-section-os {
        background-image: unset;
    }
}

@media screen and (max-width: 576px) {
    .OurCustomers-slider-row-os .slick-slide>div {
        margin: 2rem 1.5rem 1.5rem;
    }

    .OurCustomers-section-os {
        background-image: unset;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }

    .OurCustomers-slider-row-os {
        width: 100%;
    }
}