.featured-number-row-os > div {
    width: 22%;
  }
  .featured-number-row-os {
    display: flex;
    justify-content: flex-start;
    gap: 3.5rem 4%;
    flex-wrap: wrap;
    padding-bottom: 1.2rem;
  }
  .featured-number-heading-os {
    padding-bottom: 3rem;
  }
  .featured-number-shopBtn-os {
    padding-top: 4rem;
  }
  .featured-number-section-os {
    padding-bottom: 5rem;
  }
  .CarHomeBikeLucky-section-os {
    padding-bottom: 4rem;
  }
  .featured-number-mobile-data-os {
    display: none;
  }
  
  @media screen and (max-width: 1600px) {
    /* .featured-number-row-os > div {
      width: 21%;
    } */
  }
  
  @media screen and (max-width: 1200px) {
    .featured-number-row-os > div {
      width: 31%;
    }
    .featured-number-row-os {
      gap: 3.5rem 3.33%;
    }
  }
  @media screen and (max-width: 991px) {
    .featured-number-row-os > div {
      width: 45%;
    }
    .featured-number-row-os {
      gap: 3.5rem 10%;
    }
  }
  @media screen and (max-width: 767px) {
    .featured-number-mobile-data-os {
      display: none;
    }
    .featured-number-section-os .featured-number-row-os {
      /* display: none; */
    }
    .featured-number-mobile-data-os .number-card-os {
      margin: 0 1rem;
    }
    .featured-number-mobile-data-os .slick-prev {
      width: 60px;
      height: 60px;
      background-image: url('../../Assets/slider-left-arrow.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      z-index: 1;
      left: -50px;
    }
    .featured-number-mobile-data-os .slick-next {
      width: 60px;
      height: 60px;
      background-image: url("../../Assets/slider-right-arrow.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      z-index: 1;
      right: -50px;
    }
    .featured-number-mobile-data-os .slick-prev:before,
    .vipNumber-slider-main-row-os .slick-next:before {
      opacity: 1;
      color: transparent;
    }
    .featured-number-mobile-data-os .slick-slide > div {
      margin: 0 auto 1.5rem;
      max-width: 380px;
      width: 100%;
      height: auto;
    }
    .featured-number-mobile-data-os .slick-dots {
      bottom: -45px;
    }
    .featured-number-mobile-data-os .slick-next {
      width: 40px;
      height: 40px;
      right: -10px;
    }
    .featured-number-mobile-data-os .slick-prev {
      width: 40px;
      height: 40px;
      left: -10px;
    }
    .featured-number-mobile-data-os .slick-next:before {
      opacity: 0;
    }
  }
  @media screen and (max-width: 576px) {
    .featured-number-row-os {
      gap: 2rem 2%;
    }
    .featured-number-section-os .default-viewMore-btn-os {
      /* display: none; */
    }
    .featured-number-mobile-data-os .slick-next:before,
    .featured-number-mobile-data-os .slick-prev:before {
      color: transparent;
    }
    .featured-number-heading-os {
      padding-bottom: 2rem;
    }
    .CarHomeBikeLucky-section-os {
      padding-bottom: 2rem;
    }
    .featured-number-section-os {
      padding-bottom: 4rem;
    }
    .featured-number-row-os > div {
      width: 49%;
    }
    .featured-number-mobile-data-os .slick-slide > div {
      max-width: 90%;
    }
  }
  