.FaqBanner-data-row-os {
  background-image: url("../../Assets/faqBannerImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem 0;
  border-radius: 30px;
}

.FaqBanner-data-heading-os {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 37px;
  color: #f7f2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
}
.FaqBanner-data-row-os p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f7f2ff;
  width: 32%;
  margin: 0 auto;
}
.FaqBanner-search-input-filed-os input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.7041px;
  line-height: 141.5%;
  color: #1f1a1a;
  background: #f8f3ff;
  border: 2px solid #f16c19;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  width: 100%;
  padding: 1rem 2rem;
}
.FaqBanner-search-input-filed-os {
  width: 50%;
  margin: -2rem auto 0;
}
.FaqBanner-section-os {
  background-image: url("../../Assets/faqs-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem 0;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1028px) {
  .FaqBanner-data-row-os p {
    width: 100%;
  }
  .FaqBanner-search-input-filed-os {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .FaqBanner-search-input-filed-os {
    width: 85%;
  }
  .FaqBanner-search-input-filed-os input {
    font-size: 15px;
    line-height: 20px;
    padding: 1rem;
  }
  .FaqBanner-data-row-os p {
    font-size: 15px;
    line-height: 20px;
  }
  .FaqBanner-data-heading-os {
    font-size: 28px;
    line-height: 37px;
    padding-bottom: 1rem;
  }
  .FaqBanner-section-os {
    padding: 3rem 0;
    margin-bottom: 3rem;
  }
}
