.Award-winner-row-os .AwardWinnerCard-col-os {
  width: 48.5%;
}
.Award-winner-row-os {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  border-bottom: 1px solid #898989;
}
.Award-winner-section-os {
  background: #f7f2ff;
}

.Award-winner-row-os .AwardWinnerCard-col-os {
  width: 48.5%;
}

@media screen and (max-width: 767px) {
  .Award-winner-row-os {
    padding-bottom: 2rem;
  }
}
